name: cocotb_unit_test
on: [push, workflow_dispatch]
jobs:
  test:
    runs-on: ubuntu-24.04
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
        with:
          submodules: recursive
    
      - name: Install iverilog
        shell: bash
        run: sudo apt-get update && sudo apt-get install -y iverilog

      - name: Setup python
        uses: actions/setup-python@v5
        with:
          python-version: '3.10'
      
      - name: Install cocotb
        run: pip install cocotb
      
      - name: Run cocotb unit test [ex01_and_gate]
        run: |
          cd ex01_and_gate/test
          python and_gate_test.py
          ! grep failure sim_build/results.xml
          cd ../..
      
      - name: Run cocotb unit test [ex02_1_bit_full_adder]
        run: |
          cd ex02_1_bit_full_adder/test
          python full_adder_test.py
          ! grep failure sim_build/results.xml
          cd ../..
      
      - name: Run cocotb unit test [ex03_4_bit_half_adder]
        run: |
          cd ex03_4_bit_half_adder/test
          python half_adder_4_test.py
          ! grep failure sim_build/results.xml
          cd ../..
      
      - name: Run cocotb unit test [ex04_4_input_multiplexer]
        run: |
          cd ex04_4_input_multiplexer/test
          python mux_4_test.py
          ! grep failure sim_build/results.xml
          cd ../..

      - name: Run cocotb unit test [ex05_dff]
        run: |
          cd ex05_dff/test
          python dff_test.py
          ! grep failure sim_build/results.xml
          cd ../..

      - name: Run cocotb unit test [ex06_odd_parity_checker]
        run: |
          cd ex06_odd_parity_checker/test
          python odd_parity_checker_test.py
          ! grep failure sim_build/results.xml
          cd ../..
      
      - name: Run cocotb unit test [ex07_single_pulser]
        run: |
          cd ex07_single_pulser/test
          python single_pulser_test.py
          ! grep failure sim_build/results.xml
          cd ../..